.header {
    background: #b71775;
    height: 200px;
    text-align: right;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  
  .navBar {
    text-align: right;
  }
  