.resume {
    background: #b71775;
    height: 200px;
  }
  
  .resume h1 {
    margin: 0;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .resumeInfo {
    background: #c6f8ff;
    height: 100%px;
    font-size: 20px;
  }
  .resumeInfo h4 {
    font-size: 30px;
  }
  .resumeInfo h5 {
    font-size: 25px;
  }
  